/* Resetting the box model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* General body styling */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

/* Header styling */
.index-header {
    background-color: rgba(216, 213, 213, 0.877);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-left ul, .header-right ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-left li, .header-right li {
    margin-right: 1em;
    font-size:smaller;
}

.header-icons a {
    text-decoration: none;
    color: white;
}
img.header-right{
    width:1.5em !important;

}
img.giftcard{
width:1.5em !important;
margin:auto;
padding-top:0.7em;
}
img.header-icon {
    width: 2em;
    transition: filter 0.3s ease;
    filter: invert(100%) grayscale(100%);
}

img.header-icon:hover {
    filter: invert(0%) grayscale(0%);
}
img.fb{
    width:2.5em !important;
}

.header-icons a:hover {
    color: red;
}

/* Wrapper styling */
.wrapper {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

.readers-fully-booked {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem;
}

.readers-fully-booked .logo {
    width: 7em;
}

/* Search bar styling */
.searchBar {
    width: 100%;
    max-width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchQueryInput {
    width: 100%;
    max-width: 60rem;
    height: 3em;
    background: #f5f5f5;
    border-radius: 1.625rem;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    margin: 0 1rem;
    border: 2px solid red;
    transition: border-color 0.3s ease;
}

#searchQueryInput:active {
    border-color: white;
}

#searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -4.5rem;
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}

.shopping-cart img {
    width: 2em;
    transition: filter 0.3s ease;
}

.shopping-cart img:hover {
    filter: grayscale(0%);
}
.category-head{
    color:red !important;
    text-decoration:underline;
}
.nav-link:active{
    color:Red !important;
}
.nav-link:focus{
    color:white !important;
}
.nav-link::after{
    color:Red;
}
@media (max-width:1024px){
.dropdown-menu{
   position: absolute;
    top: 100%;
    left: 0;
    right: 0; /* Ensure it stretches to the full width of the navbar */
    box-shadow: 0 8px rgba(228, 215, 215, 0.2);
    width: auto; /* Use auto width to prevent overflow */
    max-width: 100%; /* Ensure it doesn’t extend beyond the viewport */
    padding: 0; /* Remove padding if it causes overflow */
    margin-right:6%; /* Remove margin if it causes overflow */
    padding-right:6%;
    
}
.navbar{
    overflow:hidden;
}
.navbar-collapse{
    overflow:hidden;
}
}
.dropdown-menu{
    box-shadow: 0 8px 10px red;
    padding-right:1.5em;

}
.dropdown-menu a:hover{
    color:white;
    margin-left:0.5em;
    background-color:grey;

}

/* Navbar styling */
.navbar-logo img {
    width: 30%;
    margin-left: 2rem;
}

.navbar-toggler {
    margin-right: 0.5rem;
    border-color: red;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: red;
}

.nav-link:focus,
.nav-link:active {
    color: white;
}

.dropdown-item {
    color: white; /* Dropdown item text color */
}

.dropdown-item:hover {
    background-color: #495057; /* Dropdown item hover color */
}

.navbar-collapse li {
    margin-left: 2rem;
}

/* Titles section styling */
.titles {
    background: linear-gradient(to right, red 0%, white 20%, white 100%);
    border-radius: 0.5rem;
    padding:3em;
    padding-bottom: 4em;
    
}

.titles h1 {
    color: black;
    margin: 2rem;
    text-align: center;
    font-size: 3em;
    font-weight: 550;
}

.titles a {
    text-decoration: none;
    color: black;
}

.titles a:hover {
    color: black;
}

#title {
    font-weight: 550;
    text-align: center;
}

#author {
    font-size: larger;
}

#price {
    color: red;
    font-size: medium;
}

/* Slick Slider styling */
#slick {
    display: none;
    padding:2em;
    
}

#slick.slick-initialized {
    display: block;
}

#slick .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}

#slick .slick-slide {
    padding-right: 15px;
    padding-left: 15px;
}

#slick .slick-slide:focus {
    outline: none;
    cursor: grab;
}
#slick2 {
    display: none;
    padding:2em;
}

#slick2.slick-initialized {
    display: block;
}

#slick2 .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}

#slick2 .slick-slide {
    padding-right: 15px;
    padding-left: 15px;
}

#slick2 .slick-slide:focus {
    outline: none;
    cursor: grab;
}


#slick2 .slick-prev {
    left: -30px;
    background-image: url('https://i.imgur.com/ao7qeXi.png');
}

#slick2 .slick-next {
    right: -30px;
    background-image: url('https://i.imgur.com/AhkEkP6.png');
}

.slide p, h5, h4 {
    text-align: center;
}

/* Responsive styles */
@media (max-width: 480px) {
    .titles h1 {
        font-size: large;
    }
}
@media (max-width: 1024px) {
    #slick .slide {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    #slick .slide {
        padding: 0 5px;
    }
}

@media (max-width: 480px) {
    #slick .slide {
        padding: 0 2px;
    }

    #slick .slide img {
        width: 100%;
        height: auto;
    }

    #title, #authors, #price {
        font-size: 1rem;
    }

    #title {
        font-size: 1.2rem;
    }
    
    #price {
        font-size: 1rem;
        color: red;
    }
}

/* General styling for the carousel container */
#top-carousel {
    position: relative;
    width: 100%; /* Ensure it takes full width */
    overflow: hidden; /* Hide overflow for neatness */
    margin-top:2em;

}

#top-carousel .slick-slide {
    display: flex; /* Flexbox to align slides properly */
    justify-content: center; /* Center slide content */
}

#top-carousel .slick-slide img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
}

.titles2{
    width:100% !important;
    max-width:100% !important;
    margin:0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
    height:2.5em;
    font-size:small;
    padding-bottom:7em;
}
.titles2 h1{
    margin:Auto;
}
.titles{
    margin-bottom: 2em;
}

@media screen and (min-width:1024){
    #mobileCarousel{
        display:none;
    }
    #desktopCarousel{
        display:block;
    }


}


@media screen and (max-width:1024){
    #mobileCarousel{
        display:block;
        
    }
    #desktopCarousel{
        display:none;
    }
}
#desktopCarousel {
    margin: 0 auto;
    width:85%;
}

.slick-prev:before{
    color:white !important;
}
.slick-next:before{
    color:red !important
}

#mobileCarousel .slick-prev:before{
color:red !important;
padding-left:1em;
background-image:none !important;
background-color:white !important;
}
#mobileCarousel .slick-next:before{
    margin-left:-1.2em;
    background-image:none !important;
    background-color:white !important;
}
.slick-prev, .slick-next {
    background: none !important; /* Remove any background applied */
    border: none; /* If there's any border causing the issue */
}


